<div class="row">
  <div class="col-sm-7 bg-white">
    <h1 class="make-topic-title mt-3 pb-1 font-weight-bold border-bottom">トピック内容の入力</h1>
    <%= form_with(model: @topic, url: make_topic_path, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.text_field :title, class: 'form-control form-control-sm mt-4 pt-4 pb-4', placeholder: 'タイトルを書く' %>
          <%= f.fields_for :posts do |post| %>
            <%= post.hidden_field :user_id, value: current_user.id %>
            <%= post.text_area :content, class: 'form-control form-control-sm mt-4 pt-3 pb-4', rows: 5, placeholder: '本文を書く' %>
          <% end %>
      </div>
      <%= f.submit 'トピックを投稿する', class: 'btn btn-info btn-block mx-auto topic-btn mt-5 mb-5' %>
    <% end %>
  </div>
</div>
